body{
  background: rgb(241,247,252);
}
#col-head-2 {
  width: 45px;
  border-width: 0px;
  padding: 0px;
  height: 60px;
  border-bottom: 1px solid var(--bs-yellow);
  background: rgba(49,52,55,0);
  border-width: 0px;
  border-style: none;
  border-bottom-style: none;
}

#fims-heading {
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

#col-header {
  max-width: 18%;
  height: 60px;
  padding: 0px;
  padding-left: 20px;
  color: rgb(255,255,255);
  padding-top: 15px;
  text-align: left;
  border-right: 1px solid var(--bs-yellow);
  border-bottom: 1px solid var(--bs-yellow);
}

#top-nav {
  background: #006b3f;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px;
  width: 100%;
  border-bottom: 3px solid #e0aa0f;
}

@media (min-width: 992px) {
  #fims-heading {
    display: inline-flex;
  }
}

@media (max-width: 768px) {
  #fims-heading {
    display: none;
  }
}

@media (max-width: 768px) {
  #burger {
    /*margin-left: 0px;*/
    display: inline-flex;
  }
}

